

services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - PORT=5173
      - HOST=0.0.0.0
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
  backend:
    build: ./backend
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    ports:
      - "3000:3000"
    depends_on:
      - mongo
  cron-jobs:
    build: ./cron-jobs
    ports:
      - "9000:9000"
    environment:
      - PORT=9000
      - HOST=0.0.0.0
    volumes:
      - ./cron-jobs:/app
      - /app/node_modules
  mongo:
    image: mongo:latest
    container_name: mongo_database
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  corn-jobs:
    build: ./cronb-jobs
    ports:
      - "5001:5001"

volumes:
  mongo-data:
